# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.TankTutorial.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\VictorNata\projects\unity3d\TankTutorial\TankTutorial\.idea\.idea.TankTutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
