# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Tank.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\VictorNata\projects\unity3d\TankTutorial\TankTutorial\Assets\Scripts\Tank\.idea\.idea.Tank.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
